body {
  overflow: hidden;
}

.full-height {
  height: calc(100vh - 6.6rem);
  overflow: auto;
  background-color: $milk;
}

.scrolled-y {
  overflow-y: auto;
}

.hidden {
  display: none;
}

.no-rounded-corners {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.side-bar-container {
  height: 100%;
}

.icon {
  background-color: $milk;
  padding: 4px 8px;
  &:not([disabled]) {
    cursor: pointer;

    &:hover {
      color: $blue;
    }

    &.i-green {
      color: green;

      &:active {
        color: #06ac06;
      }

      &:hover {
        color: #2ae92a;
      }
    }

    &.i-red {
      color: red;

      &:active {
        color: #df1616;
      }

      &:hover {
        color: #ff4848;
      }
    }
  }
  &[disabled] {
    cursor: initial;
  }
}

@media screen and (max-width: 47.99em) {
  body {
    height: initial;
  }

  .full-height {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .side-bar-container {
    height: auto;
  }
}
