footer#footer {
    padding: 1rem;
    position: static;
    bottom: 0;
}

.full-height {
    height: calc(100vh - 6.6rem);
    overflow: hidden;
}

#list-items {
    height: calc(100% - 4.25rem);
    overflow: auto;
}

.items-sidenav {
    padding: 1.25rem;
    background-color: $milk;
    height: 100%;
}

.icon {
    cursor: pointer;
    color: $darkindigo;
    text-decoration-style: none;
}

.icon:hover {
    color: $blue;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .2;
	display: none;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	align-items: center;
	justify-content: center;
}

#loading div {
	color: #a6a6a6;
    width: 30vw;
    height: 30vw;
}

#info-table {
    margin: 1rem;
}

/* Makes the table column widths all equal */
.fixed-width-table {
	table-layout: fixed;
}

.list-group-item.active {
    background-color: $darkindigo;
    border-color: $darkindigo;
}

.list-group-item:not(.active) {
    color: #15072f;
}

@media screen and (max-width: 47.99em) {
    .items-sidenav {
        height: auto;
        padding: 0.9375em;
    }

    #info-table {
        margin: 0 0 1rem 0;
    }

    .full-height {
        overflow-x: hidden;
    }

    body {
        height: initial;
    }

    .row.content {
        height: auto;
    }

    .list-group {
        height: 15.625em !important;
    }
}
