.full-height {
  height: calc(100vh - 6.6rem);
  overflow: hidden;
  background-color: $milk;
}

.scrolled-y {
  overflow-y: auto;
}

.hidden {
  display: none;
}

.icon {
  cursor: pointer;
  color: $darkindigo;
  padding: 0.1rem;

  &:hover {
    color: $blue;
  }
}

.no-rounded-corners {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

/* loading background opacity setting */
.loader.is-active {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Loading indicator for input boxes */
input.tm-input.input-loading {
  background-color: #ffffff;
  background-image: url("assets/input-loading.gif");
  background-size: 25px 25px;
  background-position: right center;
  background-repeat: no-repeat;
}

/* Makes the table column widths all equal */
.fixed-width-table {
  table-layout: fixed;
}

.i-green {
  color: green;

  &:hover {
    color: greenyellow;
  }
}

.i-red {
  color: red;
}

.side-bar-container {
  height: 100%;
}

@media screen and (max-width: 47.99em) {
  .full-height {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .side-bar-container {
    height: auto;
  }

  body {
    height: initial;
  }
}
