#info-area {
    height: inherit;
    overflow-y: auto;
}

#cover-pic-container {
    height: 340px;
}

@media screen and (max-width: 47.99em) {
    #info-area {
        height: unset;
        overflow: hidden;
    }
}
