#info-area {
  height: inherit;
  overflow-y: auto;
}

#list-items {
  height: calc(100% - 4.25rem);
  overflow: auto;
}

#search-box {
  border-color: #ced4da !important;
}

#cover-pic-container {
  height: 340px;
}

.items-sidenav {
  padding: 1.25rem;
  background-color: #f1f1f1;
  height: 100%;
}

#info-table {
  margin: 1rem;
}

.list-group-item.active {
  background-color: #343a40;
  border-color: #343a40;
}

.list-group-item:not(.active) {
  color: #15072f;
}

@media screen and (max-width: 47.99em) {
  .items-sidenav {
    height: auto;
    padding: 0.9375em;
  }

  #info-table {
    margin: 0 0 1rem 0;
  }

  #info-area {
    height: unset;
    overflow: hidden;
  }

  .list-group {
    height: 15.625em !important;
  }
}

