.cid-section .carousel-item .wrap-img img {
  max-height: 150px;
  width: auto;
  max-width: 100%;
}
.cid-section .carousel-controls {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-section .carousel-controls .carousel-control {
  background: #000;
  border-radius: 50%;
  position: static;
  width: 40px;
  height: 40px;
  margin-top: 2rem;
  border-width: 1px;
}
.cid-section .carousel-controls .carousel-control.carousel-control-prev {
  left: auto;
  margin-right: 20px;
  margin-left: 0;
}
.cid-section .carousel-controls .carousel-control.carousel-control-next {
  right: auto;
  margin-right: 0;
}
.cid-section .cloneditem-1,
.cid-section .cloneditem-2,
.cid-section .cloneditem-3,
.cid-section .cloneditem-4,
.cid-section .cloneditem-5,
.cid-section .cloneditem-6,
.cid-section .cloneditem-7,
.cid-section .cloneditem-8 {
  display: none;
}
.media-container-row {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
}

@media (min-width: 992px) {
  .cid-section .col-lg-15 {
    -ms-flex: 0 0 20%;
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
 
  .cid-section
    .carousel-inner.slides
    > .carousel-item.active.carousel-item-right,
  .cid-section .carousel-inner.slides > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  .cid-section
    .carousel-inner.slides
    > .carousel-item.active.carousel-item-left,
  .cid-section .carousel-inner.slides > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  .cid-section .carousel-inner.slides > .carousel-item.carousel-item-left,
  .cid-section
    .carousel-inner.slides
    > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-section .carousel-inner.slides > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-section .carousel-inner.slides .cloneditem-1,
  .cid-section .carousel-inner.slides .cloneditem-2,
  .cid-section .carousel-inner.slides .cloneditem-3,
  .cid-section .carousel-inner.slides .cloneditem-4 {
    display: block;
  }
}