body {
	height: 100%;
	font-size: 16px;
}

#arm-body>.row {
	height: 100%;
}

.full-height {
	min-height: calc(100vh - 7em);
}

#listItems {
	height: calc(100% - 3.9375em);
}

/* Remove the navbar's default margin-bottom and rounded borders */

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

/* Set gray background color and 100% height */

.sidenav {
	padding-top: 1.25em;
	padding-bottom: 1.25em;
	background-color: #f1f1f1;
	height: calc(95ch - 5.9375em);
}

/* Overwrite the scrol of .list-group */

.list-group {
	overflow-y: scroll;
	overflow-x: hidden;
}

/* Overwrite the border and bg color of .active for list-group */

.list-group-item.active {
	background-color: #343a40;
	border-color: #343a40;
}

/* Overwrite the font color of inactive list-group items */

.list-group-item:not(.active) {
	color: #15072f;
}

/* Overwrite the overflow of div tag of browse area */

#cover-pic {
	overflow: hidden;
}

/* Set black background color, white text and some padding */

footer {
	color: white;
	padding: 1em;
	position: static;
	bottom: 0;
}

.toolbar {
	height: auto;
}

.icon {
	cursor: pointer;
	color: black;
	text-decoration-style: none;
}

.icon:hover {
	color: blue;
}

#file-browse-wrapper {
	display: inline-flex;
}

#file-browse-wrapper a {
	font-size: 1.625em;
	margin-left: 0.75em;
}

a:hover {
	text-decoration: none;
}

.fa.fa-search {
	cursor: pointer;
}

#searchBox {
	border: 0.0625em solid #ced4da !important;
}

/* Making the chart container full width */

#chartContainer {
	width: 100%;
}

/* Makes the table column widths all equal */
.fixed-width-table {
	table-layout: fixed;
}

.height-small {
	height: 7em;
}

.large {
	font-size: 2em;
}

.medium {
	font-size: 1.5em;
}

.small {
	font-size: .5em;
}

.green {
	color: green;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

/* On small screens*/

@media screen and (max-width: 47.9375em) {
	.sidenav {
		height: auto;
		padding: 0.9375em;
	}

	body {
		height: initial;
	}

	.row.content {
		height: auto;
	}

	/* Overwrite the scrol of .list-group */
	.list-group {
		height: 15.625em !important;
	}
}

/* custom scrollbar */

::-webkit-scrollbar {
	height: 1.125em;
	width: 1.125em;
	background-color: #EAEAEA;
}

::-webkit-scrollbar-corner {
	background-color: #EAEAEA;
}

::-webkit-scrollbar-thumb {
	border-radius: 0.5625em;
	border: solid 0.375em #EAEAEA;
	background-color: #A5A5A5;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #919191;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-button {
	background: no-repeat #EAEAEA;
	background-size: 0.75em;
	background-position: center;
	cursor: pointer;
}

::-webkit-scrollbar-button:vertical:end:decrement {
	display: none;
}

::-webkit-scrollbar-button:vertical:start:decrement {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(165, 165, 165)'><polygon points='0,50 100,50 50,0'/></svg>");
}

::-webkit-scrollbar-button:vertical:start:decrement:hover {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(145, 145, 145)'><polygon points='0,50 100,50 50,0'/></svg>");
}

::-webkit-scrollbar-button:vertical:start:increment {
	display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(165, 165, 165)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:vertical:end:increment:hover {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(145, 145, 145)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:horizontal:end:decrement {
	display: none;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(165, 165, 165)'><polygon points='0,50 50,0 50,100'/></svg>");
}

::-webkit-scrollbar-button:horizontal:start:decrement:hover {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(145, 145, 145)'><polygon points='0,50 50,0 50,100'/></svg>");
}

::-webkit-scrollbar-button:horizontal:start:increment {
	display: none;
}

::-webkit-scrollbar-button:horizontal:end:increment {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(165, 165, 165)'><polygon points='0,0 0,100 50,50'/></svg>");
}

::-webkit-scrollbar-button:horizontal:end:increment:hover {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(145, 145, 145)'><polygon points='0,0 0,100 50,50'/></svg>");
}